<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Panel administracyjny - MealPlanner</title>
</head>
<body>
<div id="wrapper">
    <main class="main-content" layout:fragment="content">
        <div class="container mt-4">
            <p class="alert alert-primary text-center" th:if="${notification}" th:text="${notification}">
                Belka z powiadomieniami
            </p>
            <h2 class="list-heading text-center mb-3">Panel administracyjny</h2>
            <div class="row">
                <div class="col-md-9 mx-auto d-flex flex-column align-items-center">
                    <div class="row w-100">
                        <div class="col-md-12 mb-4">
                            <div class="card shadow-sm w-100">
                                <a href="#" class="text-decoration-none text-dark"
                                   th:href="@{|/admin/dodaj-danie|}">
                                    <div class="row g-0 w-100 col-md-8 offset-md-1 card-body">
                                        <h3 class="card-title">Dodaj danie</h3>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <button class="card shadow-sm w-100"
                                    data-bs-toggle="modal" data-bs-target="#deleteDishModal"
                                    style="text-align: left;">
                                <div class="row g-0 w-100 col-md-8 offset-md-1 card-body">
                                    <h3 class="card-title">Usuń danie</h3>
                                </div>
                            </button>
                        </div>

                        <div class="modal fade" id="deleteDishModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Usuń danie</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/admin/usun-danie}" method="post">
                                            <input type="hidden" name="_method" value="delete"/>
                                            <div class="mb-3">
                                                <p class="alert alert-primary text-center">Wybrane danie zostanie
                                                    usunięte</p>
                                                <label for="dishCat" class="form-label">Wybierz kategorię:</label>
                                                <select id="dishCat" class="form-select" name="categoryName" required>
                                                    <option value="" hidden>Wybierz Kategorie</option>
                                                    <option th:each="category: ${categories}"
                                                            th:value="${category.name}"
                                                            th:text="${category.name}"></option>
                                                </select>

                                                <label for="dish" class="form-label">Wybierz danie:</label>
                                                <select id="dish" class="form-select" name="dishName" required>
                                                    <option value="" hidden>Wybierz Danie</option>
                                                </select>

                                                <input type="hidden" id="dishId" name="dishId"/>
                                            </div>

                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-primary">Usuń danie</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 mb-4">
                            <button class="card shadow-sm w-100"
                                    data-bs-toggle="modal" data-bs-target="#updateDishModal"
                                    style="text-align: left;">
                                <div class="row g-0 w-100 col-md-8 offset-md-1 card-body">
                                    <h3 class="card-title">Edytuj danie</h3>
                                </div>
                            </button>
                        </div>

                        <div class="modal fade" id="updateDishModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edytuj danie</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/admin/edytuj-danie}" method="get">
                                            <div class="mb-3">
                                                <label for="dishCatUpdate" class="form-label">Wybierz kategorię:</label>
                                                <select id="dishCatUpdate" class="form-select" name="categoryName"
                                                        required>
                                                    <option value="" hidden>Wybierz Kategorie</option>
                                                    <option th:each="category: ${categories}"
                                                            th:value="${category.name}"
                                                            th:text="${category.name}"></option>
                                                </select>

                                                <label for="dishUpdate" class="form-label">Wybierz danie:</label>
                                                <select id="dishUpdate" class="form-select" name="dishName" required>
                                                    <option value="" hidden>Wybierz Danie</option>
                                                </select>

                                                <input type="hidden" id="dishIdUpdate" name="dishId"/>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-primary">Edytuj danie</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <div class="card shadow-sm w-100">
                                <a href="#" class="text-decoration-none text-dark"
                                   th:href="@{|/admin/dodaj-kategorie|}">
                                    <div class="row g-0 w-100 col-md-8 offset-md-1 card-body">
                                        <h3 class="card-title">Dodaj kategorię</h3>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <button class="card shadow-sm w-100"
                                    data-bs-toggle="modal" data-bs-target="#deleteCategoryModal"
                                    style="text-align: left;">
                                <div class="row g-0 w-100 col-md-8 offset-md-1 card-body">
                                    <h3 class="card-title">Usuń kategorię</h3>
                                </div>
                            </button>
                        </div>

                        <div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Usuń kategorię</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/admin/usun-kategorie}" method="post">
                                            <input type="hidden" name="_method" value="delete"/>
                                            <div class="mb-3">
                                                <p class="alert alert-primary text-center">Wybrana kategoria oraz
                                                    wszystkie przypisane do niej dania zostaną usunięte</p>
                                                <label for="dishCategory" class="form-label">Wybierz kategorię:</label>
                                                <select id="dishCategory" class="form-select" name="categoryName"
                                                        required>
                                                    <option value="" hidden>Wybierz Kategorie</option>
                                                    <option th:each="category: ${categories}"
                                                            th:value="${category.name}"
                                                            th:text="${category.name}"></option>
                                                </select>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-primary">Usuń kategorię</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <button class="card shadow-sm w-100"
                                    data-bs-toggle="modal" data-bs-target="#updateCategoryModal"
                                    style="text-align: left;">
                                <div class="row g-0 w-100 col-md-8 offset-md-1 card-body">
                                    <h3 class="card-title">Zmień nazwę kategorii</h3>
                                </div>
                            </button>
                        </div>

                        <div class="modal fade" id="updateCategoryModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Zmień nazwę kategorii</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/admin/aktualizuj-kategorie}" method="post">
                                            <input type="hidden" name="_method" value="patch"/>
                                            <div class="mb-3">
                                                <label for="categoryUpdate" class="form-label">Wybierz
                                                    kategorię:</label>
                                                <select id="categoryUpdate" class="form-select" name="categoryId"
                                                        required>
                                                    <option value="" hidden>Wybierz Kategorie</option>
                                                    <option th:each="category: ${categories}" th:text="${category.name}"
                                                            th:value="${category.id}"></option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="categoryName" class="form-label">Nowa nazwa
                                                    kategorii</label>
                                                <input type="text" class="form-control" id="categoryName"
                                                       name="categoryName" required>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-primary">Zmień nazwę</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
