<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div id="wrapper">
<!-- Główna zawartość -->

<main class="main-content" layout:fragment="content">



  <div class="container mt-4">
    <h2 class="list-heading text-center mb-3" th:text="${heading}">Lista dań</h2>
  <div class="row" >


    <!-- Prawa kolumna z listą dań -->
    <div class="col-md-9 mx-auto d-flex flex-column align-items-center">
      <div class="row w-100" th:remove="all-but-first">
        <!-- Dane testowe -->
        <div th:each="dish : ${dishes}" class="col-md-12 mb-4">
          <div class="card shadow-sm w-100">
            <div class="row g-0 w-100">
              <div class="col-md-2 d-flex align-items-center justify-content-center p-2">
                <img  src="../static/img/dish-placeholder.png"
                      th:src="${dish.image ne null} ? @{|/img/${dish.image}|} : @{/img/dish-placeholder.png}"
                      class="img-fluid rounded"
                     th:alt="${dish.name}"
                      alt="Pizza">
<!--                <img th:src="${dish.image}" src="../static/img/dish-placeholder.png" class="img-fluid rounded"-->
<!--                     th:alt="${dish.name}" alt="Pizza">-->

              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">
                    <a href="#" th:href="@{|/danie/${dish.id}|}" class="text-dark text-decoration-none"
                       th:text="${dish.name}">Pizza Margherita</a>
                  </h3>
                  <p class="text-muted" th:text="${dish.category}">Danie główne</p>
                  <p class="text-muted"><i class="fas fa-star"></i>
                    <span class="text-muted" th:if="${dish.ratingCount}"
                          th:text="${#numbers.formatDecimal(dish.avgRating, 1, 1)}">8.7</span>
                    <span th:if="!${dish.ratingCount}">Brak ocen</span>
                  </p>


                </div>
<!--                <div class="dish-list-item-rating">-->
<!--                  <i class="fas fa-star"></i>-->
<!--                  <span>8.7</span>-->
<!--                </div>-->
              </div>
<!--              <div class="col-md-2 d-flex align-items-center justify-content-center">-->
<!--                <a th:href="@{/selected-dish/add/{name}(name=${dish.name})}"-->
<!--                   class="btn btn-secondary btn-sm">-->
<!--                  <i class="fas fa-plus"></i>-->
<!--                </a>-->
<!--              </div>  -->
            </div>
          </div>
        </div>

        <div class="col-md-12 mb-4">
          <div class="card shadow-sm w-100">
            <div class="row g-0 w-100">
              <div class="col-md-2 d-flex align-items-center justify-content-center p-2">
                <img src="../static/img/dish-placeholder.png" class="img-fluid rounded"
                     alt="Sałatka Grecka">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">
                    <a href="#" class="text-dark text-decoration-none">Sałatka Grecka</a>
                  </h3>
                  <p class="text-muted">Danie główne</p>
                  <p class="text-muted"><i class="fas fa-star"></i>8.3</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mb-4">
          <div class="card shadow-sm w-100">
            <div class="row g-0 w-100">
              <div class="col-md-2 d-flex align-items-center justify-content-center p-2">
                <img src="../static/img/dish-placeholder.png" class="img-fluid rounded"
                     alt="Spaghetti Carbonara">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">
                    <a href="#" class="text-dark text-decoration-none">Spaghetti Carbonara</a>
                  </h3>
                  <p class="text-muted">Danie główne</p>
                  <p class="text-muted"><i class="fas fa-star"></i>7.3</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mb-4">
          <div class="card shadow-sm w-100">
            <div class="row g-0 w-100">
              <div class="col-md-2 d-flex align-items-center justify-content-center p-2">
                <img src="../static/img/dish-placeholder.png" class="img-fluid rounded"
                     alt="Stek wołowy">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">
                    <a href="#" class="text-dark text-decoration-none">Stek wołowy</a>
                  </h3>
                  <p class="text-muted">Danie główne</p>
                  <p class="text-muted"><i class="fas fa-star"></i>5.8</p>
                </div>
              </div>
            </div>
          </div>
        </div>





      </div>
    </div>
  </div> <!-- Koniec row -->
</div> <!-- Koniec container -->

</main>
</div>



</body>
</html>
