<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Zarejestruj się - MealPlanner</title>
</head>
<body>
<div id="wrapper">
    <main class="main-content" layout:fragment="content">
        <div class="container mt-4">
            <h2 class="list-heading text-center mb-3">Zarejestruj się</h2>
            <div class="row">
                <div class="col-md-6 mx-auto d-flex flex-column align-items-center">
                    <div class="row w-100">
                        <div class="col-md-12 mb-4">
                            <div class="card shadow-sm w-100">
                                <div class="row g-0 w-100">
                                    <div class="d-flex align-items-center justify-content-center p-2">
                                        <form action="" th:action="@{/rejestracja}" method="post" class="mc-form"
                                              th:object="${userDto}">
                                            <p class="alert alert-primary text-center mc-form-message"
                                               th:if="${param.error}"
                                               th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                                                Belka z powiadomieniami
                                            </p>
                                            <p class="alert alert-primary text-center mc-form-message"
                                               th:if="${param.logout}">
                                                Zostałeś wylogowany
                                            </p>
                                            <div class="mb-3">
                                                <label for="username" class="form-label">Adres email</label>
                                                <input type="email" class="form-control" id="username" name="username"
                                                       placeholder="nazwa użytkownika" th:field="*{email}">
                                                <div th:if="${#fields.hasErrors('email')}" class="error">
                                                    <div th:each="err : ${#fields.errors('email')}"
                                                         class="alert alert-primary text-center py-1 mb-1">
                                                        <p class="m-0" th:text="${err}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="password" class="form-label">Hasło</label>
                                                <input type="password" class="form-control" id="password"
                                                       name="password"
                                                       placeholder="hasło" th:field="*{password}">
                                                <div th:if="${#fields.hasErrors('password')}" class="error">
                                                    <div th:each="err : ${#fields.errors('password')}"
                                                         class="alert alert-primary text-center py-1 mb-1">
                                                        <p class="m-0" th:text="${err}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-primary">Zarejestruj się</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>